{% extends "layout.twig" %}

{% block content %}

<div class="bg-glow">
    
    <div class="global">

        <!--header-->
        <header>

            <div class="header">

                <div class="container">

                    <div class="row">

                        <article class="span12">

                            <div class="row">

                                <article class="span6">

                                    <h1 class="brand">{{widget('companyheader', 'companyheader', {"defaultlogo": asset('/images/logo.png')})|raw}}</h1>
                                    {{widget('space', 'space', {'height': '20'})|raw}}

                                </article>

                                <article class="span6">

                                    {{widget('socialicons', 'socialicons', {'googleplus': 'https://plus.google.com', 'linkedin':'http://www.linkedin.com', 'facebook': 'https://www.facebook.com', 'twitter': 'https://twitter.com', 'youtube': 'https://www.youtube.com', 'rss': '#'})|raw}}
                                    {{widget('space', 'space', {'height': '20'})|raw}}                                    

                                </article>

                            </div>

                        </article>

                    </div>

                </div>

            </div>

            <nav>

                <div class="container">

                    <div class="row">

                        <article class="span12">

                            {{widget('navigation', 'navigation', {'align': 'left'})|raw}}

                        </article>

                    </div>

                </div>

            </nav>

        </header>

        <div class="showcase">

            {{widget('responsiveslideshow', 'responsiveslideshow', {'duration':'3', 'transSpeed': '1000', 'transType': 'fade', 'showButtons': true, 'showBullets': true, 'allowPause': true, 'allowLoop': true, 'images':[{'imageHeight':'548', 'imageWidth':'2000', 'url':'http://placehold.it/548x2000', 'title':'test title', 'description': 'test desc'},{'imageHeight':'548', 'imageWidth':'2000', 'url':'http://placehold.it/548x2000', 'title':'test title', 'description': 'test desc'},{'imageHeight':'548', 'imageWidth':'2000', 'url':'http://placehold.it/548x2000', 'title':'test title', 'description': 'test desc'},{'imageHeight':'548', 'imageWidth':'2000', 'url':'http://placehold.it/548x2000', 'title':'test title', 'description': 'test desc'}]})|raw}}

        </div>

        <div class="maintop">

            <div class="container">

                <div class="row">

                    <article class="span12">

                        {{widget('space', 'space', {'height': '50'})|raw}}

                        {{widget('content', 'content', {content: '<h2><span>Today`s</span> menu:</h2>', lines: 'all'})|raw}}

                        <div class="row menu">

                            <article class="span3">

                                {{widget('image', 'image', { 'src': asset('images/img1.jpg'), 'imageWidth': '240px'})|raw}}

                                <div class="price">

                                    {{widget('content', 'content', {content: '<span class="price">$7.95</span>', lines: 'all'})|raw}}
                                    {{widget('content', 'content', {content: '<h3>Satay</h3>', lines: 'all'})|raw}}

                                </div>

                                {{widget('content', 'content', {content: '<p>Aenean nonummy hendrerit mau rellus porta. Fusce suscipit varius m sociis natoque pena.</p>', lines: 'all'})|raw}}

                                {{widget('space', 'space', {'height': '50'})|raw}}

                            </article>
                            <article class="span3">

                                {{widget('image', 'image', { 'src': asset('images/img2.jpg'), 'imageWidth': '240px'})|raw}}

                                <div class="price">

                                    {{widget('content', 'content', {content: '<span class="price">$18.95</span>', lines: 'all'})|raw}}
                                    {{widget('content', 'content', {content: '<h3>Rocket Shrimps</h3>', lines: 'all'})|raw}}

                                </div>

                                {{widget('content', 'content', {content: '<p>Aenean nonummy hendrerit mau rellus porta. Fusce suscipit varius m sociis natoque pena.</p>', lines: 'all'})|raw}}

                                {{widget('space', 'space', {'height': '50'})|raw}}

                            </article>
                            <article class="span3">

                                {{widget('image', 'image', { 'src': asset('images/img3.jpg'), 'imageWidth': '240px'})|raw}}

                                <div class="price">

                                    {{widget('content', 'content', {content: '<span class="price">$10.95</span>', lines: 'all'})|raw}}
                                    {{widget('content', 'content', {content: '<h3>Grilled Squids</h3>', lines: 'all'})|raw}}

                                </div>

                                {{widget('content', 'content', {content: '<p>Aenean nonummy hendrerit mau rellus porta. Fusce suscipit varius m sociis natoque pena.</p>', lines: 'all'})|raw}}

                                {{widget('space', 'space', {'height': '50'})|raw}}

                            </article>
                            <article class="span3">

                                {{widget('image', 'image', { 'src': asset('images/img4.jpg'), 'imageWidth': '240px'})|raw}}

                                <div class="price">

                                    {{widget('content', 'content', {content: '<span class="price">$2.95</span>', lines: 'all'})|raw}}
                                    {{widget('content', 'content', {content: '<h3>Crispy Fried Tofu</h3>', lines: 'all'})|raw}}

                                </div>

                                {{widget('content', 'content', {content: '<p>Aenean nonummy hendrerit mau rellus porta. Fusce suscipit varius m sociis natoque pena.</p>', lines: 'all'})|raw}}

                                {{widget('space', 'space', {'height': '50'})|raw}}

                            </article>

                        </div>

                    </article>

                </div>

            </div>

        </div>

        <!--content-->

        <div class="container">

            <div class="row">

                <article class="span12">

                    {{widget('line', 'line', {'thickness': 'inherit', 'padding': 'inherit', 'length':'inherit', 'align': 'center'})|raw}}

                    <div class="row">

                        <article class="span4">

                            {{widget('content', 'content', {content: '<h2>About Us </h2>', lines: 'all'})|raw}}

                            {{widget('content', 'content', {content: '<h5>Aenean aliquet suscipit velit, sed gravida sem egestas quis. Praesent semper vitae nisl porta ornare. Nam velit quam, tristique sit amet mi at, iaculis condimentum ligula.</h5><p>Quisque non eros vitae turpis accumsan euismod ut ac tellus. Sed leo urna, iaculis et pretium et, adipiscing nec purus. Cras imperdiet felis ut neque posuere, quis convallis libero fermentum. Nunc sed odio ultricies urna ultrices tempor. Aliquam ac placerat diam.</p><p>Cras ullamcorper lectus nec ligula ornare, at vestibulum odio porttitor. Ut fermentum erat vel pellentesque aliquet. Vivamus aliquam, neque eu volutpat condimentum, mi nibh mattis nisl, eget elementum orci mi ut ligula. Nunc id consectetur tellus. Donec eget gravida dolor. Vivamus laoreet semper pharetra. Nulla luctus faucibus imperdiet. Nam mollis et diam rutrum faucibus.</p>', lines: 'all'})|raw}}
                            {{widget('button', 'button', {italic: false, text:'Read More', 'align':'widget-align-left'})|raw}}
                            {{widget('space', 'space', {'height': '50'})|raw}}
                            
                        </article>

                        <article class="span4">

                            {{widget('content', 'content', {content: '<h2><span>dish of</span> the week</h2>', lines: 'all'})|raw}}

                            {{widget('image', 'image', { 'src': asset('images/page1-img1.jpg'), 'imageWidth': '300px'})|raw}}

                            <div class="price">

                                {{widget('content', 'content', {content: '<span class="price">$9.95</span>', lines: 'all'})|raw}}
                                {{widget('content', 'content', {content: '<h3>Jeeb Dumplings</h3>', lines: 'all'})|raw}}

                            </div>

                            {{widget('content', 'content', {content: '<p>Lorem ipsum dolor sit amet consectetur adipisti phasellus commodo turpis.</p>', lines: 'all'})|raw}}

                            {{widget('button', 'button', {italic: false, text:'Read More', 'align':'widget-align-left'})|raw}}
                            {{widget('space', 'space', {'height': '50'})|raw}}

                        </article>

                        <article class="span4">

                            {{widget('content', 'content', {content: '<h2><span>latest</span> tweets</h2>', lines: 'all'})|raw}}

                            {{widget('twitter', 'twitter', {'searchKey': 'basekit', 'searchType': 'username', 'count': '3','refreshTime': '1800000','includeRts': '0'})|raw}}
                            {{widget('space', 'space', {'height': '50'})|raw}}

                        </article>

                    </div>

                    {{zone('main')|raw}}

                </article>

            </div>

        </div>

        <!--footer-->
        <footer>

            <div class="container">

                <div class="row">

                    <section class="span12">

                        {{widget('line', 'line', {'thickness': 'inherit', 'padding': 'inherit', 'length':'inherit', 'align': 'center'})|raw}}
                        {{widget('companyname', 'companyname', {"business": "Thai Food"})|raw}}
                        {{widget('content', 'copyright_copy', {content: '&nbsp;&copy;&nbsp;2013', lines: 'all'})|raw}}
                        {{widget('content', 'copyright_link', {content: '<a href="#">Privacy Policy</a>', lines: 'all'})|raw}}
                        {{widget('space', 'space', {'height': '30'})|raw}}

                    </section>

                </div>

            </div>

        </footer>

    </div>
    
</div>

{% endblock %}